<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
<form action="/node/alumnos" method="post">
<button id="btnBuscar">Buscar</button>
<input type="number" id="matricula" name="matricula"
placeholder="Matricula" >
<input type="text" name="nombre" id="nombre" placeholder="Nombre"
>
<input type="text" name="domicilio" id="domicilio"
placeholder="Domicilio" >
<input type="text" name="sexo" id="sexo" placeholder="M o F" >
<input type="text" name="especialidad" id="especialidad"
placeholder="Especialidad">
<div style="float:right;margin-right:5.5rem;margin-top: 1rem;">
<button type="submit">Enviar Informacion</button>
</div>
</form>

<div class ="container">
<table class ="table table-hover">
<tr>
<th scope="col">ID</th>
<th scope="col">Matricula</th>
<th scope="col">Nombre</th>
<th scope="col">Domicilio</th>
<th scope="col"> Sexo</th>
<th scope="col">Especialidad </th>

</tr>

<%
if(reg!=null){
for (var i = 0; i < reg.length; i++) { %>
<tr>
<td><%= reg[i].idalumnos %></td>
<td><%= reg[i].matricula %></td>
<td><%= reg[i].nombre %></td>
<td><%= reg[i].domicilio %></td>
<td><%= reg[i].sexo %></td>
<td><%= reg[i].especialidad %></td>
</tr>
<% }
}%>

</table>

</div>
<img src="/img/logo.png" alt="">
<script src="/js/peticiones"></script>

</form>
</section>
