<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización de Automóviles</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #156e80;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        h2 {
            margin: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        #cotizacionForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .input-group {
            margin-bottom: 20px;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        select {
            appearance: none;
            background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px top 50%;
            background-size: 20px;
            padding-right: 30px;
        }

        button {
            background-color: #156e80;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #6b9ea2;
        }

        #resultSection {
            width: 100%;
            padding: 20px;
            background-color: #0c404a;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }

        #resultSection h4 {
            margin-top: 0;
        }

        #resultSection p {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <h2>Cotizador de autos</h2>
    </header>

    <div class="container">
        <form action="/node/cotizacion" method="post" id="cotizacionForm">
            <div class="input-group">
                <label for="numFolio">Número de Folio:</label>
                <input type="text" id="numFolio" name="numFolio" placeholder="Número de Folio" required>
            </div>
            <div class="input-group">
                <label for="descripcion">Descripción del Automóvil:</label>
                <input type="text" id="descripcion" name="descripcion" placeholder="Descripción del Automóvil" required>
            </div>
            <div class="input-group">
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" placeholder="Precio" required>
            </div>
            <div class="input-group">
                <label for="porcentajeInicial">Porcentaje de Pago Inicial:</label>
                <input type="text" id="porcentajeInicial" name="porcentajeInicial" placeholder="Porcentaje de Pago Inicial" required>
            </div>
            <select id="plazo" name="plazo" required>
                <option value="" disabled selected hidden>Plazo</option>
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
            </select>
            <br>
            <button type="submit">Calcular Cotización</button>
            <button type="reset" onclick="limpiarFormulario()">Limpiar</button>
        </form>
    </div>

    <div class="container">
        <div id="resultSection">
            <h4>Resultados De La Cotizacion</h4>
            <p id="pagoInicial">Pago Inicial: $<%= typeof pagoInicial !== 'undefined' ? pagoInicial.toFixed(2) : '' %></p>
            <p id="totalFinanciar">Total a Financiar: $<%= typeof totalFinanciar !== 'undefined' ? totalFinanciar.toFixed(2) : '' %></p>
            <p id="pagoMensual">Pago Mensual: $<%= typeof pagoMensual !== 'undefined' ? pagoMensual.toFixed(2) : '' %></p>
        </div>            
    </div>

</body>
</html>
