<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= titulo %> </title>
</head>
<body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <br><br>
    <p>
        Lorem ipsum dolo, sit amet consectetur adipisicing elit. Veritatis animi, eius ipsam nulla, repellendus voluptatum accusantium, 
        cum tempora quasir numquam ullam nemo aperiam molestias ipsa odio illum qui. Earum, tenetur?
    </p>
    <br><br>
    <%- include('partials/footer.ejs') %>
</body>
</html>