<style>
    /* Set the container's background color */
    .container {
        background-color: #f2f2f2;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 0 auto;
    }

    /* Center the form within the container */
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    /* Style the form group elements */
    .form-group {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Style the labels */
    .form-group label {
        display: inline-block;
        margin-bottom: 0.25rem;
        font-size: 1rem;
        font-weight: 600;
        color: #333;
        text-align: left;
        width: 100%;
    }

    /* Style the input and select elements */
    .form-group input,
    .form-group select {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }

    /* Style the button container */
    .btnContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    /* Style the primary button */
    .btn-primary {
        background-color: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0069d9;
    }

    /* Style the secondary button */
    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    .btn-secondary:hover {
        background-color: #5a6268;
    }

    /* Add some visual style to the form */
    form {
        border: none;
        padding: 0;
    }

    /* Add some visual style to the input and select elements */
    .form-group input:focus,
    .form-group select:focus {
        outline: none;
        box-shadow: none;
        border-color: #007bff;
    }

    /* Style the footer */
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        color: #6c757d;
        margin-top: 1rem;
    }
</style>

<%- include('partials/header') %>
        <%- include('partials/nav') %>

        <section class="container">
            <form action="/preexamen/recibo" method="post" onsubmit="return validateForm()" class="form-container">
                <div class="form-group">
                    <label for="numero-recibo">Número de recibo</label>
                    <input type="number" name="numero-recibo" id="numero-recibo" required />
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required />
                </div>
                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" required />
                </div>
                <div class="form-group">
                    <label for="tipoServicio">Tipo de servicio</label>
                    <select name="tipoServicio" id="tipoServicio">
                        <option value="Domestico">Domestico</option>
                        <option value="Comercial">Comercial</option>
                        <option value="Industrial">Industrial</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="kw">Kilowatts consumidos</label>
                    <input type="number" name="kw" id="kw" required />
                </div>
                <div class="btnContainer">
                    <button class="btn btn-primary">Enviar información</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                </div>
            </form>
        </section>
        <br>
        <%- include('partials/footer') %>
        <script>
        function validateForm() {
            const numeroRecibo = document.getElementById('numero-recibo');
            const kw = document.getElementById('kw');

            if (numeroRecibo.value <= 0) {
                alert("El número del recibo debe ser un valor mayor a 0.");
                return false;
            }
            else if (kw.value < 0) {
                alert("Los KW no puede ser menor a 0.");
                return false;
            }
            return true;
        }
</script>