<style>
    /* Set the container's background color */
    body {
        background-color: #f7dc6f;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 0 auto;
        color: #fff;
    }

    /* Style the main section */
    .main {
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 1rem;
        padding: 0 2rem;
    }

    .main-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Style the prices section */
    .prices {
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 1rem;
        padding: 0 2rem;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .price-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .price-group p:last-child {
        font-weight: bold;
    }
</style>



<%- include('partials/header') %>
        <%- include('partials/nav') %>

        <%
        const currentPricePerKw = 'Domestico' === tipoServicio ? 1.08 : 'Comercial' === tipoServicio ? 2.5 : 'Industrial' === tipoServicio ? 3 : '';
        const subtotal = (kw * currentPricePerKw).toFixed(2);
        const impuesto = (subtotal * 0.16).toFixed(2);

        const discountPercentage = kw <= 1000 ? 0.10 : kw <= 10000 ? 0.20 : 0.50;
        const descuento = (subtotal * discountPercentage).toFixed(2);

        const total = (Number(subtotal) + Number(impuesto) - Number(descuento)).toFixed(2);
        %>

        <section class="main">
            <div class="main-group">
                <p><b>Nombre</b></p>
                <p><%= nombre %></p>
            </div>
            <div class="main-group">
                <p><b>Tipo de servicio</b></p>
                <p><%= tipoServicio %></p>
            </div>
            <div class="main-group">
                <p><b>Kilowatts consumidos</b></p>
                <p><%= kw %></p>
            </div>
            <div class="main-group">
                <p><b>Costo por kilowatts</b></p>
                <p><%= currentPricePerKw %></p>
            </div>
        </section>

        <section class="prices">
            <div class="price-group">
                <p>Subtotal:</p>
                <p><%= subtotal %></p>
            </div>
            <div class="price-group">
                <p>Impuesto:</p>
                <p><%= impuesto %></p>
            </div>
            <div class="price-group">
                <p>Descuento:</p>
                <p><%= descuento %></p>
            </div>
            <div class="price-group">
                <p><b>Total a pagar:</b></p>
                <p><b><%= total %></b></p>
            </div>
        </section>
        <br>
        <%- include('partials/footer') %>
    </body>
</html>